@{
    ViewData["Title"] = "Welcome to SimplePay";
}
<div class="p-4 bg-white rounded shadow-sm">
    <h1 class="h3 mb-3"></h1>
</div>

@section Scripts {
    <script>console.log("Home loaded");</script>
}
